<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  <script type=text/javascript>
    $(function() {
		$('a#calculate').bind('click', function() {
			$.getJSON('/_add_numbers', {
				a: $('input[name="a"]').val(),
				b: $('input[name="b"]').val()
			}, function(data) {
				$("#result").text(data.result);
			});
			return false;
		});

		$('#get_features').click(function() {
			artist1 = $('#artist1 option:selected').text();
			artist2 = $('#artist2 option:selected').text();
			$("#features").text('');
			$("#progress").text('Extracting features from ' + artist1 + ' and ' + artist2 + ' lyrics...this may take a moment...');
			$("#loading_img").attr('class', 'visible');
			$.getJSON('/extract_features', {
				artist1: artist1,
				artist2: artist2,
			}, function(data1) {
				$("#progress").text('Finding most discriminatory features between ' + artist1 + ' and ' + artist2 + ' songs...');
				$.getJSON('/discriminatory_features', {
				}, function(data2) {
					$("#progress").text('Determining confidence in distinguishing between ' + artist1 + ' and ' + artist2 + ' songs...');
					$.getJSON('/algorithm_confidence', {
					}, function(data3) {
						$("#progress").text('Results!');
						$("#features").text('Confidence: ' + data3.confidence);
						$("#features").append('<br>');
						for (var i = 0; i < data2.features.length; i++)
						{ 
							$("#features").append(data2.features[i]+'<br>');
						}
						$("#loading_img").attr('class', 'hidden');
					});
				});
			});
			
			return false;
		});
	});

  </script>
	<style>
		img.visible {visibility:visible}
		img.hidden {visibility:hidden}
	</style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1 class="text-muted">Hip Hop Lyric Comparisons</h1>
      </div>
    </div>
	<div class="container">
		<h2 class="text-muted">What's the difference between
			<select id='artist1'>
				{% for artist in artists %}
					<option value={{artist}}>{{artist}}</option>
				{% endfor %}
			</select> 
			and 
			<select id='artist2'>
				{% for artist in artists %}
					<option value={{artist}}>{{artist}}</option>
				{% endfor %}
			</select>
			?
		</h2>
		<button id="get_features" type="button">Tell Me!</button>
		<p><img class="hidden" id='loading_img' src="/static/ajax-loader.gif" alt="Loading bar...">
		<p><span id="progress"></span>
		<p><span id="features"></span>
	</div>
  </body>
</html>
